*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color:#c39b8e;
}
.start{
    display: flex;
    width: 100%;
}
.informa{
    width: 75%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.mydetail{
    width: 15%;
    color: rgb(149, 130, 8);
    display: flex;
    flex-direction: column;
    gap: 1vw;
    font-size: 1.7vw;
}
.detail-2{
    width: 45%;
    color: #551A8B;
    gap: 1.6vw;
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
}
.main-page{
    color: rgb(42, 81, 12);
    width: 50%;
}
img{
    border-radius: 80px;
    height: 35vh;
    padding: 2vw;
    margin-top: 2vw;
    margin-left: 2.4vw;
}
.main-page p{
    margin-top: -1.3vw;
    margin-left: 4.2vw;
}
.first-hr{
    width: 89%;
    margin-left: 4vw;
}
.main-sec{
    display: flex;
    justify-content: space-between;
}
.Edu-main{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.dates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5vw;
    color: rgb(149, 130, 8);
}
h1,.Edu .Skills{
    color: cadetblue;
    font-size: 2.5vw;
}
.both-skills{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
}
.proj-2{
    color: rgb(149, 130, 8);
}
.proj-3{
    color: rgb(42, 81, 12);
}
.las-cont{
    display: flex;
    justify-content: space-around;
}
.las-cont h2{
    color: rgb(149, 130, 8);
}
h3, .inter .lang{
    color: rgb(42, 81, 12);
}
@media only screen and (max-width: 500px){
   html,body{
    background-color: rgb(192, 240, 226);
   }
    .start{
    flex-direction: column;
   }
    img{
    border-radius: 100%;
    margin-left: 18vw;
   } 
   .main-page p{
    width: 80vw;
    font-size: 3.2vw;
    margin-left: 8vw;
   }
   .informa{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    
   }
   .mydetail{
       width: 20%;
       font-size: 4vw;
       gap: 1.8vw;
       margin-left: 8vw;
    }

    .detail-2{
     font-size: 3vw;
     gap: 3vw;
    }
    .first-hr{
        width: 80%;
        margin-left: 8vw;
    }
   .main-sec{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Edu-main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    }
.Edu{
    width: 80%;
    }
.dates{
 width: 18%;
 display: flex;
 justify-content: flex-end;
 gap: 7vw;
 
}
.both-skills{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
h1,.skills .skills-2 {
    font-size: 6vw;
  }
  .skills-2{
    width: 40%;
  }
  .projects{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    margin-left: 1vw;
  }
  .projects p{
    font-size: 2vw;
  }
  .proj-1{
    width: 100%;
  }
  .las-cont{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vw;
  }
  .las-cont hr{
    opacity: 0;
  }
  .las-cont h1{
    font-size: 6vw;
   }
   .las-cont h3{
    width: 100%;
    font-size: 4vw;
   }

}


